@import url('https://fonts.googleapis.com/css?family=Lobster|Raleway:300,400,700');
:root {
  --raleway: 'Raleway', sans-serif;
  --lobster: 'Lobster', sans-serif;
  --orange: #f7472a;
  --white: #fafafa;
  --lightshadow: rgba(0,0,0,.2);
  --darkshadow: rgba(0,0,0,.2);
}

.font-bold {
  font-weight: bolder;
}

body {
  /* background: #000; */
  position: relative;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
}

.logo {
  display: inline-block;
}

.cutlery-logo {
  width: 250px;
}

.farm-btn {
  background-color: var(--orange);
}

.carousel-caption {
  height: 100%;
  position: absolute;
  top 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.carousel-inner > .item > img {
  width: 100%;
}

#story, #review, #menu, #contact {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#story {
  background-color: var(--white);
}

.container-border::before {
  content: '';
  background: #777;
  height: 6px;
  display: block;
  margin-bottom: 30px;
  border-radius: 4px;
}

.story-left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}

.story-header {
  font-family: var(--lobster);
  color: var(--orange);
  font-size: 80px;
  text-shadow: 1px 1px 3px var(--darkshadow);
}

.story-subhead {
  font-family: var(--raleway);
  font-size: 26px;
  margin-left: -30px;
}

.story-right {
  display: flex;
  align-items: center;
}

.back-date {
  font-family: var(--lobster);
  font-size: 170px;
  font-weight: 700;
  opacity: 0.2;
  position: absolute;
  margin: 0;
}

#review {
  background: url('../img/food_review.jpg');
  background-size: cover;
}

.review-info {
  background: var(--darkshadow);
  border-radius: 5px;
  text-align: center;
}

.review-header {
  color: var(--orange);
  font-family: var(--lobster);
  font-size: 60px;
  text-shadow: 1px 1px 3px var(--darkshadow);
}

.review-body {
  color: var(--white);
  font-size: 20px;
  font-family: var(--raleway);
}

#menu {
  background-color: blue;
}

#contact {
  background-color: green;
}
