@import url('https://fonts.googleapis.com/css?family=Lobster|Raleway:300,400,700');
:root {
  --raleway: 'Raleway', sans-serif;
  --Lobster: 'Lobster', sans-serif;
}

body {
  /* background: #000; */
  position: relative;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
}

.logo {
  display: inline-block;
}

.cutlery-logo {
  width: 250px;
}

.carousel-caption {
  height: 100%;
  position: absolute;
  top 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-inner > .item > img {
  width: 100%;
}

.story-header {
  font-family: var(--Lobster);
  font-size: 80px;
  color: red;
}

.story-subhead {
  font-family: var(--raleway);
  font-weight: 700;
  font-size: 28px;
}

.cent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-date {
  font-family: var(--Lobster);
  font-size: 200px;
  font-weight: 700;
  opacity: 0.2;
  position: absolute;
}

#review {
  height: 500px;
  background-color: red;
}

#menu {
  height: 500px;
  background-color: blue;
}

#contact {
  height: 500px;
  background-color: green;
}
